body{font-family:sans-serif}body{font-family:sans-serif}.hero{background-color:#000;height:500px;padding:5%}.hero-subtext{color:#fff;letter-spacing:2px;text-transform:uppercase}.footer{border-top:1px solid #eee}.header{background-color:#ff8e72;border-bottom:1px solid #eee}.custom-logo{height:75px;margin:0 auto;width:75px}.header{background-color:#ff8e72;border-bottom:1px solid #eee}.custom-logo{height:75px;margin:0 auto;width:75px}.footer{border-top:1px solid #eee}.sidebar{background:#eee;padding:2em}.sidebar{background:#eee;padding:2em}

/*# sourceMappingURL=main.css.map */